$primary: #F44336;
$dark: #D32F2F;
$accent: #E0E0E0;
$light: #EF5350;
$background: #FFFFFF;
$darker: #282928;
$blue: #00bcd4;   

body {
  background-color: $background;
}

.welcome {
  font-family: Helvetica;
  font-size: 2em;
  text-align: center;
}

.toolbar {
  position: fixed;
  top: 140px;
  height: 70px;
  display: flex;
  flex-flow: columns;
  z-index: 100;
}

.page {
  font-family: Helvetica;
  display: flex;
  flex-flow: column;
}

.workspace {
  display: flex;
  flex-flow: column;
}

.songs {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.trackbox{
  margin-top: 0;
}

.dropzone{
  position: fixed;
  right: 4vw;
  bottom: 2vw;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  cursor: n-resize;
}

.dropzone:hover{
  background-color: $light;
}

.addNew{
  padding-left: 23px;
  font-size: 50px;
  color: white;
}

.fab {
  height: 50px;
  width: 50px;
}

.row {
  border: solid black 2px;
  display: flex;
  flex-flow: row;
  margin: 20px;
  padding: 5px;
}

.audioBlock {
  border: solid black 2px;
  display: flex;
  flex-flow: row;
  padding: 5px;
}

.upload {
  background-color: $accent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px;
  box-shadow: 5px 5px 15px #888888;
  color: white;
  border: none;
}

.exportProgressDiv {
	top: 90px;
	position: fixed;
	height: 90px;
	z-index: 100;
	background-color: white;
}

.exportProgress {
	margin-top: -0.5px;
	margin-left: 5px;
	font-weight: 100;
	font-size: 20px;
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $blue;
}
