@import '../../containers/Containers.scss';

.rowtool {
  display: flex;
  flex-flow: column;
  // background: $accent;
  opacity: 30%;
  width: 60px;
  height: 100px;
  border-radius: 10px;
  z-index: 10;
}

.rowtool > input {
  width: 50px;
  margin: 5px;
  border: none;
  background-color: $light;
  color: black;
  text-align: center;
  box-shadow: none;
  border-radius: 2em;
}

.filter {

}

.mute {

}

.delete {
  
}

input[type=range]{
  -webkit-appearance: none;
  position: relative;
  margin: auto;
  width: 60%;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #e1e1e1;
    border: none;
    border-radius: 100px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #0F82DA;
    margin-top: -2px;
    border: 0px solid white;
    transition: .1s ease-out;
}

input[type=range]::-webkit-slider-thumb:hover {
  cursor: -webkit-grab;
}

input[type=range]::-webkit-slider-thumb:active {
  border: 12px solid  #1A237E;
  cursor: -webkit-grabbing;
  background: #1A237E;
}

input[type=range]:focus {
    outline: none;
}
