@import '../../containers/Containers.scss';

.rowtool {
  position: fixed;
  display: flex;
  flex-flow: column;
  background: $accent;
  opacity: 30%;
  width: 60px;
  height: 100px;
}

.rowtool > input {
  width: 50px;
  margin: 5px;
  border: none;
  background-color: $light;
  color: black;
  text-align: center;
  box-shadow: none;
  border-radius: 2em;
}

.filter {

}

.mute {

}
