@import '../../containers/Containers.scss';

.tools {
  width: 100vw;
  display: flex;
  flex-flow: row;

}

.toolbar {
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.titletext {
  margin-left: 20px;
}

.exportProgress {
  display: inline-block !important;
  width: 200px !important;
  height: 15px !important;
  margin-bottom: 4px !important;
}

.hidden {
  display: none !important;
}
