@import '../../containers/Containers.scss';

.move {
	width: 50px;
	margin: 20px;
	border: none;
	background-color: $primary;
	color: white;
	text-align: center;
	box-shadow: none;
	border-radius: 2em;
}

.split {
	width: 50px;
	margin: 20px;
	border: none;
	background-color: $primary;
	color: white;
	text-align: center;
	box-shadow: none;
	border-radius: 2em;
}

.sidebar {
	background-color: $accent;
	width: 100vw;
	display: flex;
	flex-flow: row;
}
