@import '../../containers/Containers.scss';


.navbar {

    background-color: $dark;
    width: 98vw;
    display: flex;
    flex-flow: row;
}

.button {
    text-decoration: none;
    color: white;
    font-size: 0.5em;
    border-radius: 2em;
    border: 1px solid white;
    padding: 5px 2% 5px 2%;
    background-color: $primary;
    margin: 1vw 0 0 60vw;
}